@page "/about"

<div id="links">
    <MudStack>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudAvatarGroup Max="2" Spacing="4" MaxColor="Color.Primary">
                        <MudAvatar Image="img/me.jpg" Size="Size.Medium" Class="no-scale"/>
                        <MudAvatar Image="img/logo_oldschool_notext.png" Size="Size.Medium" Class="no-scale"/>
                    </MudAvatarGroup>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudAvatarGroup Max="2" Spacing="4" MaxColor="Color.Primary">
                        <MudAvatar Image="img/me.jpg" Size="Size.Large" Class="no-scale"/>
                        <MudAvatar Image="img/logo_oldschool_notext.png" Size="Size.Large" Class="no-scale"/>
                    </MudAvatarGroup>
                </MudHidden>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Christof Lauriers (The Crafty Maker)</MudText>
                    <MudText Typo="Typo.body2">Loving Father & Husband | Software Architect | AFOL | Piano n00b | Maker</MudText>
                </MudStack>
            </MudStack>
        </MudPaper>

        <MudPaper Class="pa-4 mt-6">
            <MudStack Row="true">
                <MudAvatar Image="img/mastodon-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Mastodon</MudText>
                    <MudLink Typo="Typo.body2" Href="@MastodonUrl" Target="_blank">@MastodonUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/twitter-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Twitter</MudText>
                    <MudLink Typo="Typo.body2" Href="@TwitterUrl" Target="_blank">@TwitterUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/youtube-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">YouTube</MudText>
                    <MudLink Typo="Typo.body2" Href="@YouTubeUrl" Target="_blank">@YouTubeUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/tiktok-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">TikTok</MudText>
                    <MudLink Typo="Typo.body2" Href="@TikTokUrl" Target="_blank">@TikTokUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/instagram-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Instagram</MudText>
                    <MudLink Typo="Typo.body2" Href="@InstagramUrl" Target="_blank">@InstagramUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/printables-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Printables</MudText>
                    <MudLink Typo="Typo.body2" Href="@PrintablesUrl" Target="_blank">@PrintablesUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/thangs-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Thangs</MudText>
                    <MudLink Typo="Typo.body2" Href="@ThangsUrl" Target="_blank">@ThangsUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/facebook-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Facebook</MudText>
                    <MudLink Typo="Typo.body2" Href="@FacebookUrl" Target="_blank">@FacebookUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/linkedin-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">LinkedIn</MudText>
                    <MudLink Typo="Typo.body2" Href="@LinkedInUrl" Target="_blank">@LinkedInUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/etsy-icon.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Etsy Store</MudText>
                    <MudLink Typo="Typo.body2" Href="@EtsyUrl" Target="_blank">@EtsyUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Row="true">
                <MudAvatar Image="img/astronaut-light.png" Size="Size.Medium"/>
                <MudStack Justify="Justify.Center" Spacing="0">
                    <MudText Typo="Typo.body1">Blog</MudText>
                    <MudLink Typo="Typo.body2" Href="@SharpSplashUrl" Target="_blank">@SharpSplashUser</MudLink>
                </MudStack>
            </MudStack>
        </MudPaper>
    </MudStack>
</div>